{% extends "base.html" %}
{% load static %}
{% block title %}
    Game against yourself
{% endblock title %}
{% block head %}
    <link rel="stylesheet"
          type="text/css"
          href="{% static 'css/display_board.css' %}">
{% endblock head %}
{% block content %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-7">
                <div class="container d-flex p-1 gap-3">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}"
                             height="50"
                             width="50"
                             alt="User Image"
                             class="img-fluid rounded-circle">
                    {% else %}
                        <img src="https://i.pinimg.com/736x/91/82/6a/91826a460e293270c9bb411c5151784e.jpg"
                             height="50"
                             width="50"
                             alt="User Image"
                             class="img-fluid rounded-circle">
                    {% endif %}
                    <h2>{{ player.username }}</h2>
                </div>
                {# chessboardjs #}
                <div id="myBoard" class="w-100"></div>
                <div class="container d-flex p-1 gap-3">
                    {% if player.avatar %}
                        <img src="{{ player.avatar.url }}"
                             height="50"
                             width="50"
                             alt="User Image"
                             class="img-fluid rounded-circle">
                    {% else %}
                        <img src="https://i.pinimg.com/736x/91/82/6a/91826a460e293270c9bb411c5151784e.jpg"
                             height="50"
                             width="50"
                             alt="User Image"
                             class="img-fluid rounded-circle">
                    {% endif %}
                    <h2>{{ player.username }}</h2>
                </div>
            </div>
            <div class="container border border-secondary h-100 rounded-2 col m-3 position-relative">
                <ul class="list-group list-group-horizontal w-100 mt-1 text-center">
                    <li class="list-group-item w-50 border-black">WHITE</li>
                    <li class="list-group-item w-50 border-black">BLACK</li>
                </ul>
                <div class="container d-flex p-0 mt-1 scrollable-list">
                    <ul id="moveList" class="list-group list-group-numbered w-50">
                        {% for move in game.moves %}
                            {% if forloop.counter|divisibleby:2 %}
                            {% else %}
                                <li class="list-group-item rounded-0 border-black">{{ move }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <ul id="moveList" class="list-group list-group-numbered w-50">
                        {% for move in game.moves %}
                            {% if forloop.counter|divisibleby:2 %}
                                <li class="list-group-item rounded-0 border-start-0 border-black">{{ move }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="container w-100 bottom-0 mt-3 mb-1 p-2">
                    {% if game.is_finished %}
                        <div class="container fs-1 text-center">
                            <p>Game over</p>
                            {% if game.winner == "draw" %}
                                <p>It's draw</p>
                            {% else %}
                                <p>{{ game.winner }} is winner!</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        {#function makeMove(fen, move) {#}
        {#    const requestData = {#}
        {#        fen: fen,#}
        {#        move: move#}
        {#    };#}
        {##}
        {#    return fetch('make_move_api/', {#}
        {#        method: 'POST',#}
        {#        headers: {#}
        {#            'Content-Type': 'application/json',#}
        {#            'X-CSRFToken': getCookie('csrftoken'),#}
        {#        },#}
        {#        body: JSON.stringify(requestData)#}
        {#    })#}
        {#    .then(response => response.json()).#}
        {#        then(data => game.load(data['fen']),#}
        {#            board.position(game.fen())#}
        {#        );#}
        {#}#}

        async function makeMove(fen, move) {
            const requestData = {
                fen: fen,
                move: move
            };
            try {
                const response = await fetch('make_move_api/', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'),
                    },
                    body: JSON.stringify(requestData)
                });

                const data = await response.json();

                game.load(data['fen']);
                myBoard.position(game.fen());

                updateMoveList(data['moves']);
            } catch (error)
            {
            console.error('Failed to make move: ', error)
            }
        }

        function updateMoveList(moves) {
            const moveListElement = document.getElementById('moveList');
            moveListElement.innerHTML = '';

            moves.forEach((move, index) => {
                const listItem = document.createElement('li');
                listItem.className = 'list-group-item rounded-0 border-black';
                listItem.textContent = move;

                moveListElement.appendChild(listItem);
            });
        }



        var myBoard = null
        var game = new Chess()
        var $status = $('#status')
        var $fen = $('#fen')
        var $pgn = $('#pgn')
        var whiteSquareGrey = '#B2EDC5'
        var blackSquareGrey = '#6e9c82'
        game.load('{{ fen }}')

        function removeGreySquares () {
          $('#myBoard .square-55d63').css('background', '')
        }

        function greySquare (square) {
          var $square = $('#myBoard .square-' + square)

          var background = whiteSquareGrey
          if ($square.hasClass('black-3c85d')) {
            background = blackSquareGrey
          }

          $square.css('background', background)
        }

        function onDragStart (source, piece, position, orientation) {
          // do not pick up pieces if the game is over
          if (game.game_over()) return false

          // wrong player
          if ('{{ player }}' !== '{{ request.user.username }}') return false

          // only pick up pieces for the side to move
          if ((game.turn() === 'w' && piece.search(/^b/) !== -1) ||
              (game.turn() === 'b' && piece.search(/^w/) !== -1)) {
            return false
          }
        }

        function onDrop (source, target) {
          removeGreySquares()

          // see if the move is legal
              var move = game.move({
                from: source,
                to: target,
                promotion: 'q' // NOTE: always promote to a queen for example simplicity
              })

          // illegal move
          if (move === null) return 'snapback'

          makeMove(game.fen(), source + target)

          updateStatus()
        }

        function onMouseoverSquare (square, piece) {
          // get list of possible moves for this square
          var moves = game.moves({
            square: square,
            verbose: true
          })

          // exit if there are no moves available for this square
          if (moves.length === 0) return

          // highlight the square they moused over
          greySquare(square)

          // highlight the possible squares for this piece
          for (var i = 0; i < moves.length; i++) {
            greySquare(moves[i].to)
          }
        }

        function onMouseoutSquare (square, piece) {
          removeGreySquares()
        }

        // update the board position after the piece snap
        // for castling, en passant, pawn promotion
        function onSnapEnd () {
          myBoard.position(game.fen())
        }

        function updateStatus () {
          var status = ''

          var moveColor = 'White'
          if (game.turn() === 'b') {
            moveColor = 'Black'
          }

          // checkmate?
          if (game.in_checkmate()) {
            status = 'Game over, ' + moveColor + ' is in checkmate.'
          }

          // draw?
          else if (game.in_draw()) {
            status = 'Game over, drawn position'
          }

          // game still on
          else {
            status = moveColor + ' to move'

            // check?
            if (game.in_check()) {
              status += ', ' + moveColor + ' is in check'
            }
          }

          $status.html(status)
          $fen.html(game.fen())
          $pgn.html(game.pgn())
        }

        var config = {
            draggable: true,
            position: '{{ fen }}',
            onDrop: onDrop,
            onDragStart: onDragStart,
            onSnapEnd: onSnapEnd,
            onMouseoutSquare: onMouseoutSquare,
            onMouseoverSquare: onMouseoverSquare,
        }
        myBoard = Chessboard('myBoard', config)

        updateStatus()
    </script>
{% endblock content %}
