{% extends "chess_engine/base.html" %}
{% load static %}
{% block title %}
    New game
{% endblock title %}
{% block content %}
    <h1>Chess Game</h1>
    <div class="svg-container">
        {% autoescape off %}
            {% include "chess_engine/board.html" %}
        {% endautoescape %}
    </div>
    <form method="post" action="{% url 'make_move' game_id=game_id %}">
        {% csrf_token %}
        <label for="move_text">Enter your move (in UCI format):</label>
        <input type="text" name="move_text" id="move_text" required>
        <button type="submit">Make Move</button>
    </form>
{% endblock content %}
