{% extends "base.html" %}
{% load static %}
{% block title %}
    Chess Game
{% endblock title %}
{% block content %}
    <div class="container">
    
        <div class="card mt-5 w-25">
            <img src="{% static 'img/chess_board.png' %}"
                 class="card-img-top"
                 width="100%"
                 height="auto"
                 alt="chess_board">
            <div class="card-body">
                <h5 class="card-title">Play against yourself</h5>
                <form method="post" action="{% url 'create_new_self_game' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Create new game</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
