{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="d-flex m-3 align-items-center justify-content-center h-100">
        <div class="card rounded">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Login in</h2>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <div class="form-outline mb-4">
                        <input type="text"
                               id="username"
                               name="username"
                               value="{{ form.username.value|default:'' }}"
                               class="form-control form-control-lg" />
                        <label class="form-label" for="username">Your Username</label>
                        {% if errors.username %}<div class="alert alert-danger" role="alert">{{ errors.username }}</div>{% endif %}
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password"
                               id="password"
                               name="password"
                               class="form-control form-control-lg" />
                        <label class="form-label" for="password">Password</label>
                        {% if errors.password %}<div class="alert alert-danger" role="alert">{{ errors.password }}</div>{% endif %}
                    </div>
                    {% if login_error %}<div class="alert alert-danger" role="alert">{{ login_error }}</div>{% endif %}
                    <div class="d-flex justify-content-center">
                        <button type="submit"
                                class="btn w-50 btn-success btn-block btn-lg gradient-custom-4 text-body">
                            Login in
                        </button>
                    </div>
                    <p class="text-center text-muted mt-5 mb-0">
                        Don't have an account?
                        <a class="fw-bold text-body" href={% url 'register' %}><u>Create an account</u></a>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
