{% extends "chess_engine/base.html" %}
{% block title %}
    {{ user_data.username }}
{% endblock title %}
{% block content %}
    <div class="container mt-5">
        <div class="card">
            <div class="card-header bg-secondary text-white">
                {% if user_data.avatar %}
                    <img src="{{ user_data.avatar.url }}"
                         height="100"
                         width="100"
                         alt="User Image"
                         class="img-fluid rounded-circle">
                {% else %}
                    <img src="https://i.pinimg.com/736x/91/82/6a/91826a460e293270c9bb411c5151784e.jpg"
                         height="100"
                         width="100"
                         alt="User Image"
                         class="img-fluid rounded-circle">
                {% endif %}
                {% if user_data.own %}
                    <div class="mt-2 mb-2">
                        <!-- Modal button -->
                        <button type="button"
                                class="btn btn-primary btn-sm"
                                data-bs-toggle="modal"
                                data-bs-target="#changeAvatarModal">Update avatar</button>
                    </div>
                    <!-- Modal window -->
                    <div class="modal fade"
                         id="changeAvatarModal"
                         tabindex="-1"
                         aria-labelledby="changeAvatarModal"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5 text-dark" id="changeAvatarModal">Change Your Avatar</h1>
                                    <button type="button"
                                            class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="container d-flex flex-column row-gap-3">
                                            <input type="file"
                                                   class="form-control"
                                                   name="{{ form.avatar.name }}"
                                                   accept="image/*"
                                                   id="{{ form.avatar.id_for_label }}">
                                            <button type="submit" class="btn btn-success w-25">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <h2>{{ user_data.username }}</h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <strong>Username:</strong> {{ user_data.username }}
                        </p>
                        <p>
                            <strong>Email:</strong> {{ user_data.email }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
